@mixin flexCenter($type:flex, $main-axis:center, $cross-axis:center) {
	display: $type;
	justify-content: $main-axis;
	align-items: $cross-axis;
}


@mixin transition($property:all, $duration:250ms, $timing-function:cubic-bezier(0.4, 0, 0.2, 1), $delay:0ms) {
	transition-property: $property;
	transition-duration: $duration;
	transition-timing-function: $timing-function;
	transition-delay: $delay;
}
