// ----------- variable --------------

	$main-color:#2196F3;
	$color-main-dark: #212121;
	$color-second-dark: #757575;;
	$color-main-light: #FFFFFF;
	$color-bg-dark: #2F303A;
	$color-bg-light2:#F5F4FA;
	$color-bg-main:#188CE8;
	$color-svg-icon:#AFB1B8;
	// $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	$font-main: 'Roboto', sans-serif;
	$font-logo: 'Raleway', sans-serif;
