// -----------  section portfolio  -----------
.portfolio {

	&__title{
		color: $color-main-dark;
		margin-bottom: 50px;
	}
	&__menu {
		margin-bottom: 50px;
	}
	&__list {
		@include flexCenter($main-axis:left);
		flex-wrap: wrap;
		row-gap: 15px;

		@media screen and (min-width: 768px) {
			justify-content: center;
			flex-wrap: nowrap;
		}
	}
	&__item {

		&:not(:last-child){
			margin-right: 8px;
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;

		@media screen and (min-width: 768px) {
			margin: -15px;
		}
	}
	&__element {
		flex-basis: 100%;
		background-color: $color-main-light;

		@media screen and (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	
		@media screen and (min-width: 768px) {
			margin: 15px;
			flex-basis: calc((100% - 60px) / 2);
		}

		@media screen and (min-width: 1200px) {
			flex-basis: calc((100% - 90px) / 3);
		}
	}
	&__card{
		height: 100%;
		display: flex;
		flex-direction: column;

		@include transition($property:box-shadow); 

		&:hover, &:focus{
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
		}
		&:hover ::before, &:focus ::before{
			transform: translate(0);
		}
	}
	&__img {
		position: relative;
		overflow: hidden;

		& img{
			object-fit: cover;
			object-position: center;
		}
		&::before{
			content: "";
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $main-color;
			opacity: 0.9;
			transform: translateY(100%);

			@include transition($property:transform);
		}
	}
	&__info{
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 24px;

		font-size: 18px;
		line-height: 1.56;
		color: $color-main-light;
		overflow: auto;
		transform: translateY(100%);

		@include transition($property:transform);

		.portfolio__card:hover &, .portfolio__card:focus &{
			transform: translate(0);
		}
	}
	&__text {
		flex-grow: 1;
		border: 1px solid #EEEEEE;
		border-top: none;
		padding: 20px 24px;
	}
	&__card-title {
		margin-bottom: 4px;
		font-size: 18px;
		font-weight: 700;
		line-height: 2;
		letter-spacing: 0.06em;
		color: $color-main-dark;
	}
	&__card-subtitle {
		line-height: 1.87;
		color: $color-second-dark;
	}
}
