// -----------footer -----------
.footer{
	background-color: $color-bg-dark;
	padding: 60px 0;
	// text-align: center;
	
		&__container{
			// align-items: baseline;

			@media screen and (min-width: 768px) {
				display: flex;
				flex-wrap: wrap;
			}

			@media screen and (min-width: 1200px) {
				flex-wrap: nowrap;
				// justify-content: space-between;
			}
		}
		// &__contacts-social {

		// 	@media screen and (min-width: 768px) {
		// 		display: flex;
		// 		flex-grow: 1;
		// 		margin-bottom: 60px;
		// 	}

		// 	@media screen and (min-width: 1200px) {
		// 		margin-bottom: 0;
		// 		flex-grow: 0;
		// 	}
		// }
		&__contacts{
			text-align: center;

			@media screen and (max-width: 767px) {
				margin-bottom: 60px;
			}

			@media screen and (min-width: 768px) {
				margin-right: 30px;
				flex-basis: calc((100% - 30px) / 2);
			}

			@media screen and (min-width: 1200px) {
				margin-right: 70px;
				text-align: left;
				flex-basis: auto;
			}
		}
		&__logo {
			margin-bottom: 20px;
		}
		&__address{}
		&__list{}

		&__link {
			display: block;
			margin-bottom: 9px;
			a{
				font-size: 14px;
				line-height: 1.71;
				color: rgba(255, 255, 255, 0.6);
				
				@include transition($property:color);
			}
			&:first-child a{
				color: $color-main-light;
			}
			&:last-child{
				margin-bottom: 0;
			}
			a:hover, a:focus{
				color: $main-color;
			}
		}
		&__social {

			@media screen and (max-width: 767px) {
				margin-bottom: 60px;
			}

			@media screen and (min-width: 768px) and (max-width: 1199px) {
				margin-top: 5px;
				flex-basis: calc((100% - 30px) / 2);
			}
			
			@media screen and (min-width: 1200px) {
				margin-top: 12px;
				flex-basis: auto;
				margin-right: 93px;
			}
		}
		&__social-title{
			margin-bottom: 20px;
			color: $color-main-light;

			@media screen and (min-width: 1200px) {
				text-align: left;
			}
		}
		&__social-list {}		
		&__form {
			text-align: center;

			@media screen and (min-width: 768px) and (max-width: 1199px) {
				width: 480px;
				margin-right: auto;
				margin-left: auto;
				margin-top: 60px;
			}

			@media screen and (min-width: 1200px) {
				margin-top: 12px;
				text-align: left;
			}
		}
}

